body {
  font-family: font-family: 'Open Sans Condensed', sans-serif;
}
.logofont {
  font-family: 'Alfa Slab One', cursive;
  text-align: center;
  font-size: 2.2em;
  margin-top: 10px;
  text-shadow: white 1px 1px 1px;
}
.container {
  background: url("images/Colors10872.mp4");
}
#postpg {
  margin: 0px;
  background: url("images/Colors10872.mp4");
  width: 100%;
}
/* header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
} */
.subhedfont .h2 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.3em;
  text-align: left;
  padding: 5px;
}
.subhedfont .center {
  font-family: 'Alfa Slab One', cursive;
  font-size: 1.3em;
  text-align: center;
  padding: 5px;
}
.flash {
  background-color: #70D6D6;
  border-radius: 4px;
  animation: cssAnimation 0s ease-in 2.5s forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow: hidden;
        display: none;
    }
}
#nav {
  height: 65px;
  background: #FFCA2B;
  margin: 0px;
  padding: 0px;
  position: relative;
  overflow: hidden;
  z-index: 5;
  box-shadow: black 1px 1px 1px;
}
#nav a {
  float: left; 
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 1.5em;
  display: block;
  margin-top: 10px;
  text-align: center;
  padding: 10px;
  text-decoration: none; 
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 6;
}
/* .sticky + .content {
    padding-top: 60px;
    z-index: 5;
} */
.menu-on {
	z-index: 1001;
	position: fixed;
	background-color: white;
	right: 0;
	top: 0;
	padding: 10px;
}
.menu-on img {
	height: 50px;
	position: fixed;
	background-color: #53B8C6;
	right: 0;
	top: 0;
	padding: 0px;
	box-shadow: 2px 2px 5px 2px #888888;
	border-radius: 3px;
}
.menu-off {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	height: 50px;
	z-index: 1003;
}
.menu-off img {
	height: 50px;
	position: fixed;
	right: 0;
	top: 0;
	padding: 0px;
	z-index: 1003;
	opacity: 1;
}
#toggle-menu {
	display: none;
}
#toggle-menu ~ .menu-off {
	display: none;
}
#toggle-menu:checked ~ nav {
	display: block;	
}
#toggle-menu:checked ~ .menu-on img {
	opacity: 0;
}
#toggle-menu:checked ~ .menu-off {
	display: block;
}
section {
  background-color: #f1f1f1;
}
.mainimg {
  width: 100%;
  align-items: center;
  /* margin-left: 40px;
  margin-right: 20px; */
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
  display: none;
}
.rightliimg {
  margin-top: 15px;
  margin-bottom: 15px;
}
div.col {
  padding: 0px;
}
.centerimg {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}
.profileimg {
  width: 100%;
}
.imgPost {
  width: 100%;
}
li {
  list-style-type: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
.previewtext {
  word-wrap: none;
  float: right;
  font-family: 'Source Sans Pro', sans-serif;
}
.leftliimg {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 15px;
}

.media {
  margin: 40px;
}
.mr-3 {
  border-left: 6px solid red;
  width: 100px;
}
.close-button {
  display: none;
}
.hide {
  display: none;
}
div.sign-in-bar {
  text-align: center;
  width: 250px;
  background-color: #FFAE00;
}
div.sign-up-bar {
  position: fixed;
  bottom: 0px;
  text-align: left;
  width: 600px;
  background-color: #FFAE00;
}
#buttons {
  background-color: #FFAE00;
  border-radius: 4px;
  color: white;
}
.postsimgvid {
  width: 100%;
}
.forms {
  text-align: center;
}
.form-control .form-group #blogposttextarea {
  width: 100%;
  height: 375px;
  text-align: center;
  justify: center;
}
.form-group {
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 30px;
  background: #f1f1f1;
  border-left: 6px dotted #FFAE00;
}
#videoloop {
  width: 100%;

  z-index: 2;
  background-color: #FFAE00;
}

div.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 50%;
  padding: 30px;
}
#vidbutton {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
}
footer {
   width: 100%;
   height: 120px;
   margin: 0px;
   background-color: black;
   color: white;
   text-align: center;
}






